USE [HomemieProject]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[email] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookingDetail]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookingDetail](
	[email] [varchar](255) NULL,
	[idRoom] [int] NOT NULL,
	[idBooking] [int] IDENTITY(0,1) NOT NULL,
	[imageRoom] [nvarchar](255) NULL,
	[dobBefore] [varchar](255) NULL,
	[dobAfter] [varchar](255) NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRoom] ASC,
	[idBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carRent]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carRent](
	[email] [varchar](255) NULL,
	[idBooking] [int] IDENTITY(0,1) NOT NULL,
	[dobBefore] [varchar](255) NULL,
	[dobAfter] [varchar](255) NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[likeList]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[likeList](
	[idList] [int] IDENTITY(0,1) NOT NULL,
	[email] [varchar](255) NULL,
	[idRoom] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[place]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[place](
	[name] [nvarchar](255) NOT NULL,
	[imageLink] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 12/13/2020 21:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[roomName] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[searchName] [varchar](255) NULL,
	[detailImageRoom1] [varchar](100) NULL,
	[detailImageRoom2] [varchar](100) NULL,
	[detailImageRoom3] [varchar](100) NULL,
	[price] [int] NULL,
	[star] [int] NULL,
	[quantityBed] [int] NULL,
	[imageRoom] [varchar](255) NULL,
	[descriptions] [nvarchar](1000) NULL,
	[isLike] [bit] NULL,
	[isActive] [bit] NULL,
	[isExist] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([email], [name], [phone], [password], [role]) VALUES (N'admin@gmail.com', N'Admin', N'012345678', N'admin', N'admin')
INSERT [dbo].[account] ([email], [name], [phone], [password], [role]) VALUES (N'jack2309@gmail.com', N'JackMLK', N'0123456787', N'123456', N'user')
INSERT [dbo].[account] ([email], [name], [phone], [password], [role]) VALUES (N'linh31@gmail.com', N'Linh Nguyễn', N'034568741', N'linhcute', N'user')
SET IDENTITY_INSERT [dbo].[bookingDetail] ON 

INSERT [dbo].[bookingDetail] ([email], [idRoom], [idBooking], [imageRoom], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'jack2309@gmail.com', 1, 8, N'https://cdn.luxstay.com/users/401239/9Q2V6sbFm1M-zKG4ABMTS2P5.jpg', N'16/11/2020', N'18/11/2020', 2, 1980000)
INSERT [dbo].[bookingDetail] ([email], [idRoom], [idBooking], [imageRoom], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'orihiro12@gmail.com', 2, 10, N'https://cdn.luxstay.com/users/13092/cn1rnsr3mS6na22vBIPG0Mh4.jpeg', N'15/11/2020', N'16/11/2020', 1, 9980000)
INSERT [dbo].[bookingDetail] ([email], [idRoom], [idBooking], [imageRoom], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'ngocbich2000@gmail.com', 21, 3, N'https://cdn.luxstay.com/rooms/16146/large/1539778855_40481639_10215168742346046_1845357532227305472_n.jpg', N'17/11/2020', N'19/11/2020', 2, 1100000)
SET IDENTITY_INSERT [dbo].[bookingDetail] OFF
SET IDENTITY_INSERT [dbo].[carRent] ON 

INSERT [dbo].[carRent] ([email], [idBooking], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'longnt1120@gmail.com', 0, N'15/11/2020', N'26/11/2020', 11, 15399989)
INSERT [dbo].[carRent] ([email], [idBooking], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'ngocbich2000@gmail.com', 1, N'17/11/2020', N'19/11/2020', 2, 2799998)
INSERT [dbo].[carRent] ([email], [idBooking], [dobBefore], [dobAfter], [quantity], [price]) VALUES (N'nhoxanh123@gmail.com', 2, N'15/11/2020', N'17/11/2020', 2, 2799998)
SET IDENTITY_INSERT [dbo].[carRent] OFF
SET IDENTITY_INSERT [dbo].[likeList] ON 

INSERT [dbo].[likeList] ([idList], [email], [idRoom]) VALUES (13, N'longnt1120@gmail.com', 35)
INSERT [dbo].[likeList] ([idList], [email], [idRoom]) VALUES (26, N'ngocbich2000@gmail.com', 16)
INSERT [dbo].[likeList] ([idList], [email], [idRoom]) VALUES (29, N'longnthe140271@fpt.edu.vn', 15)
SET IDENTITY_INSERT [dbo].[likeList] OFF
INSERT [dbo].[place] ([name], [imageLink]) VALUES (N'Bà Rịa - Vũng Tàu', N'https://staticproxy.mytourcdn.com/0x0,q90/resources/pictures/cities/country1552984418.jpg')
INSERT [dbo].[place] ([name], [imageLink]) VALUES (N'Đà Lạt', N'https://staticproxy.mytourcdn.com/0x0,q90/resources/pictures/cities/country1552989220.jpg')
INSERT [dbo].[place] ([name], [imageLink]) VALUES (N'Đà Nẵng', N'https://staticproxy.mytourcdn.com/0x0,q90/resources/pictures/cities/country1552989374.jpg')
SET IDENTITY_INSERT [dbo].[room] ON 

SET IDENTITY_INSERT [dbo].[room] OFF
ALTER TABLE [dbo].[bookingDetail]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[bookingDetail]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[room] ([id])
GO
ALTER TABLE [dbo].[carRent]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[likeList]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[account] ([email])
GO
ALTER TABLE [dbo].[likeList]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[room] ([id])
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD FOREIGN KEY([name])
REFERENCES [dbo].[place] ([name])
GO
