<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPlaceController</servlet-name>
        <servlet-class>controller.listPlaceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>controller.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkController</servlet-name>
        <servlet-class>controller.linkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDetailController</servlet-name>
        <servlet-class>controller.roomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handlerBookingController</servlet-name>
        <servlet-class>controller.handlerBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homestayController</servlet-name>
        <servlet-class>controller.homestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paginationController</servlet-name>
        <servlet-class>controller.paginationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>controller.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingHistoryController</servlet-name>
        <servlet-class>controller.bookingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelBookingController</servlet-name>
        <servlet-class>controller.cancelBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carRentController</servlet-name>
        <servlet-class>controller.carRentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentCarRentController</servlet-name>
        <servlet-class>controller.paymentCarRentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carRentHistoryController</servlet-name>
        <servlet-class>controller.carRentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelCarRentController</servlet-name>
        <servlet-class>controller.cancelCarRentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeInforUserController</servlet-name>
        <servlet-class>controller.changeInforUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRooms</servlet-name>
        <servlet-class>controller.searchRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortController</servlet-name>
        <servlet-class>controller.sortController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImgaeController</servlet-name>
        <servlet-class>uploadImgaeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLikeController</servlet-name>
        <servlet-class>controller.isLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLikePageSearchController</servlet-name>
        <servlet-class>controller.isLikePageSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLikePageCategoryController</servlet-name>
        <servlet-class>controller.isLikePageCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLikeController</servlet-name>
        <servlet-class>controller.listLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelIdLikeList</servlet-name>
        <servlet-class>controller.cancelIdLikeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListUserController</servlet-name>
        <servlet-class>controller.adminListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListHomstayController</servlet-name>
        <servlet-class>controller.adminListHomestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListHomestayController</servlet-name>
        <servlet-class>controller.adminListHomestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>time</servlet-name>
        <servlet-class>controller.time</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeRoomAdmin</servlet-name>
        <servlet-class>controller.activeRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>limitRoomAdmin</servlet-name>
        <servlet-class>controller.limitRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeRoomAdmin</servlet-name>
        <servlet-class>controller.changeRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListBooking</servlet-name>
        <servlet-class>controller.adminListBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListRestoreRooms</servlet-name>
        <servlet-class>controller.adminListRestoreRoomsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteRoomToRestoreList</servlet-name>
        <servlet-class>controller.adminDeleteRoomToRestoreListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRestoreRoom</servlet-name>
        <servlet-class>controller.adminRestoreRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminInfoUserController</servlet-name>
        <servlet-class>controller.adminInfoUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminIndividualtInfoUser</servlet-name>
        <servlet-class>controller.adminIndividualtInfoUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListBookingCar</servlet-name>
        <servlet-class>controller.adminListBookingCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteRoomFromDatabase</servlet-name>
        <servlet-class>controller.adminDeleteRoomFromDatabaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminChangeInfoRoomHandler</servlet-name>
        <servlet-class>controller.adminChangeInfoRoomHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddNewHomestay</servlet-name>
        <servlet-class>controller.adminAddNewHomestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkController1</servlet-name>
        <servlet-class>controller.linkController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPlaceController</servlet-name>
        <url-pattern>/listPlaceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkController</servlet-name>
        <url-pattern>/linkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDetailController</servlet-name>
        <url-pattern>/roomDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handlerBookingController</servlet-name>
        <url-pattern>/handlerBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homestayController</servlet-name>
        <url-pattern>/homestayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paginationController</servlet-name>
        <url-pattern>/paginationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingHistoryController</servlet-name>
        <url-pattern>/bookingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelBookingController</servlet-name>
        <url-pattern>/cancelBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carRentController</servlet-name>
        <url-pattern>/carRentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentCarRentController</servlet-name>
        <url-pattern>/paymentCarRentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carRentHistoryController</servlet-name>
        <url-pattern>/carRentHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelCarRentController</servlet-name>
        <url-pattern>/cancelCarRentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInforUserController</servlet-name>
        <url-pattern>/changeInforUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRooms</servlet-name>
        <url-pattern>/searchRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortController</servlet-name>
        <url-pattern>/sortController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImgaeController</servlet-name>
        <url-pattern>/uploadImgaeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLikeController</servlet-name>
        <url-pattern>/isLikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLikePageSearchController</servlet-name>
        <url-pattern>/isLikePageSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLikePageCategoryController</servlet-name>
        <url-pattern>/isLikePageCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLikeController</servlet-name>
        <url-pattern>/listLikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelIdLikeList</servlet-name>
        <url-pattern>/cancelIdLikeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListUserController</servlet-name>
        <url-pattern>/adminListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListHomstayController</servlet-name>
        <url-pattern>/adminListHomstayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListHomestayController</servlet-name>
        <url-pattern>/adminListHomestayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>time</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeRoomAdmin</servlet-name>
        <url-pattern>/activeRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>limitRoomAdmin</servlet-name>
        <url-pattern>/limitRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeRoomAdmin</servlet-name>
        <url-pattern>/changeRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListBooking</servlet-name>
        <url-pattern>/adminListBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListRestoreRooms</servlet-name>
        <url-pattern>/adminListRestoreRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteRoomToRestoreList</servlet-name>
        <url-pattern>/adminDeleteRoomToRestoreList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRestoreRoom</servlet-name>
        <url-pattern>/adminRestoreRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminInfoUserController</servlet-name>
        <url-pattern>/adminInfoUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminIndividualtInfoUser</servlet-name>
        <url-pattern>/adminIndividualtInfoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListBookingCar</servlet-name>
        <url-pattern>/adminListBookingCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteRoomFromDatabase</servlet-name>
        <url-pattern>/adminDeleteRoomFromDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminChangeInfoRoomHandler</servlet-name>
        <url-pattern>/adminChangeInfoRoomHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddNewHomestay</servlet-name>
        <url-pattern>/adminAddNewHomestay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkController1</servlet-name>
        <url-pattern>/linkController1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
